body {
    font-family:  'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(212, 195, 178);
    }

    h1 {
        text-align: center;
        color: rgb(104, 24, 6);
    }

    form{
        max-width: 600px;
        margin: auto;
        background-color: antiquewhite ;
        border-radius: 8px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    fieldset {
        border: 2px solid rgb(13, 40, 67);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: rgb(184, 166, 127);
    }

    
    legend{
        font-weight: bold;
        text-align: left;
        color: rgb(12, 7, 75);}

    label{
        display: block;
        margin-top: 10px;
        color: rgb(39, 50, 147);
    }

    input,textarea {
        width: calc(100% - 1px); 
        padding: 8px; 
        margin-top: 8px;
        border: 1px solid rgb(24, 36, 48);
        border-radius: 4px;
        box-sizing: border-box;

    }

    button {
       display: block;  
       width: 100%;
       padding: 10px;
       background-color: rgb(153, 125, 91);
       color: black;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       margin-top: 10px;
       font-size: 18px;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    button:hover{
        background-color: rgb(110, 86, 55);                             
    }
    

    #resumeOutput {
        max-width: 600px;
        height: 800px;
        margin: auto;
        padding: 20px;
        border: 2px solid rgb(77, 75, 67); 
        border-radius: 8px;
        box-shadow:  0 5px 8px rgb(0, 0, 0, 0.5);

    }

    #resumeOutput h2 {
        color: rgb(30, 30, 27);
    }

    .profilePicture {
        display:block ;
        margin: 0 auto;
        border: 2px solid rgb(145, 140, 124);
        box-shadow: 0 4px 8px rgb(212, 195, 178); 
        border-radius: 500%;
        width:  150px;
        object-fit: cover;
    }
